<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Kevlar{% endblock %}</title>
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
</body>
<!--
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
_____________________________
-->
</html>
